.mainheading {
  font-family: Garamond;
  text-align: center;
  font-size: 60px;
  text-decoration: underline black 5px;
  color: #1a1a1a;
  background-color: #bcd3f7;
  box-sizing: border-box;
  width: 550px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
}

body {
  background-color: #d3e0f5;
}

.card {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: white;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  width: 600px;
  height: 600px;
  border-radius: 8px;
}

#Cardheading {
  text-decoration: underline black 2px;
}
