.mainheading {
  font-family: Garamond;
  text-align: center;
  font-size: 60px;
  text-decoration: underline black 5px;
  color: #1a1a1a;
  background-color: #a6c4f6;
  box-sizing: border-box;
  width: 550px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
}

body {
  background-color: #d3e0f5;
}

.card {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
  text-align: left;
  padding: 20px;
  box-sizing: border-box;
  width: 900px;
  height: auto;
  border-radius: 8px;
}

#Cardheading {
  text-decoration: underline black 2px;
  display: block;
  background-color: #c8daf6;
  box-sizing: border-box;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 8px;
  border: 3px solid rgb(71, 119, 144);
  height: 65px;
}

.border {
  border: 5px solid rgb(71, 119, 144);
  width: 100%;
  margin: 0 auto;
  text-align: left;
  background-color: #f6fbff;
  box-sizing: border-box;
  height: auto;
  border-radius: 5px;
}

.listitem {
  display: block;
  text-align: center;
  box-sizing: border-box;
  width: 90%;
  height: auto;
  margin: 0 auto;
  background-color: #a6c4f6;
  margin-bottom: 20px;
  padding-top: 2px;
  margin-left: 10px;
  border-radius: 4px;
}

.recipe-heading {
  display: block;
  background-color: rgb(226, 240, 253);
  width: 25%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 4px;
}

.image {
  display: inline-block;
  height: 194px;
  width: 290px;
  margin: 20px;
  border: 4px solid rgb(47, 80, 98);
  border-radius: 4px;
}

.recipe-info {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  padding-top: 20px;
  background-color: rgb(215, 239, 252);
  vertical-align: top;
  margin: 30px;
  width: 300px;
  border-radius: 4px;
}

.link {
  background-color: rgb(107, 173, 248);
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 120px;
  display: block;
  padding: 10px;
  border-radius: 4px;
  transition-duration: 0.2s;
}

.link:hover {
  background-color: #86b0f8;
}
